img{
    width:100%;
    margin-left: 50px;
}

body{
    background-color: #8FD7FF;
}

h2{
    color: white;
    font-weight: 900;
}

.container {
    padding-right: 0px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: auto;
}

.col-md-8{
    margin-left: -50px;
}