<!-- <cms-header></cms-header> -->
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>About us</h2>
            <h3>OUR BUSINESS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                
               <h3>WHO WE ARE</h3> 
               <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p> 
                
                <h3>WHAT WE OFFER</h3>
               <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/chocolatecroissant.jpg">
            </div>
        </div>
    </div>
</body>
