<cms-header></cms-header>

<div id="contactcolor">
    <section id="contact">
        <div>
            <div>
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" pattern="[A-Za-z ]{5,}" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="user@email.com">
            </div>
            <div>
                <label for="comments" class="align-top">Special comments?</label>
                <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
            </div>
            <button>

            </button>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3101.405019701323!2d-77.09772048464716!3d38.98325177955754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c97b6b3b5b43%3A0x9c8eb1c5547b83eb!2s4800%20Montgomery%20Ln%20%23300%2C%20Bethesda%2C%20MD%2020814!5e0!3m2!1sen!2sus!4v1576365691165!5m2!1sen!2sus"
            width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


        <footer>
            <p>&#9813; Chloe Hollman &#9813; <a href="http://www.byui.edu/online">BYUI Online Learning</a>
                &#9813;</p>
        </footer>