a{
  color: black;
}


.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-default {
    background-color: #FFD74B;
    padding-bottom: 600px;
    
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  
  background-color: #FFD74B;
  font-weight: 900;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: 24px;
}
a:hover {
  font-weight: 900;
  
}

a{
  transition-timing-function: ease-in-out;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

img{
  width:250px;
}

#chocolatedrink{
  height:70%;
  width: 50%;
  margin-top:-20px;
}
#almond{
  height:50%;
  width:80%;
  margin-top:-50px;
  
}

figure{
  align-items: center;
  text-align: center;
}

figcaption{
  padding: 30px;
}

.btn{
  padding-right: 80px;
}

.row{
  margin-right: -90px;
}

/* #order-all{
  padding-bottom: 100px;
} */

.col-md-3 {
  padding: 20px;
  padding-top: 30px;
}

