
<!-- Header -->
<cms-header></cms-header>
<link rel="stylesheet" href="https://use.typekit.net/qpb6dds.css">



<main>
    <!-- Opening -->
    <section>
        <article>
            <h1>Butter and Croissants</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. !</p>
                <button></button>
            <img src="croissant_png">
        </article>
    </section>

    <!-- Featured -->
    <section>
        <article id="wireframe">
        </article>
        <article>
            <h1>Featured Items</h1>
            <img src="cake-transparen.png">
            <img src="croissant_png.png">
            <img src="hotchocolate.png">
        </article>
    </section>

    <!-- About Us -->
    <section>
        <article id="wireframe">
            <img src="atwork.jpg">
        </article>
        <article>
            <h1>About us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </article>
    </section>

    <!-- Contact us -->
    <section>
        <article id="wireframe">
            <img src="macaroons.jpg">
        </article>
        <article>
            <h1>Contact Us!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. </p>
        </article>
    </section>

</main>
<footer>
    <footer>
        <p>&#9813; Chloe Hollman &#9813; <a href="http://www.byui.edu/online">BYUI Online Learning</a> &#9813;</p>
    </footer>