<!-- Header -->


<!-- Opening -->
<div id="blue-header">
    <section>
        <article>
            <h1>Butter and Croissants</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. !</p>
        </article>
        <article>

            <img src="../../assets/images/croissant_png.png">
            <button id="blackbutton"><a href="/order">Order Online</a></button>
        </article>
    </section>
</div>

<!-- Featured -->
<section id="featured">
    <div class="container">
        <h2>Featured Items</h2>
        
        <div class="row">
           
            <div class="col-md-4">
                <figure>

                <img id="cake" src="../../assets/images/cake-transparen.png">
                <figcaption>Chocolate Cake</figcaption>
            </figure>
            </div>
        

            <div class="col-md-4">
                <img id="pastry" src="../../assets/images/pastry_transparent.png">
            </div>
            <div class="col-md-4">
                <img id="hotchoc" src="../../assets/images/hotchocolate.png">
            </div>
        </div>
       
    </div>
</section>

<!-- About Us -->
<section id="about">
    <article class="info-text">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. </p>
    </article>
    <article>
        <img src="../../assets/images/atwork.jpg">
    </article>
</section>

<!-- Contact us -->
<section id="contact">
    <article>
        <img src="../../assets/images/macaroons.jpg">
    </article>
    <article class="info-text">
        <h2>Contact Us!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. </p>
    </article>
</section>